#editor {
    width: auto;

}

.my-editor {
    /* border: 2px solid #ddd; */
    width: 100%;
    min-height: 800px;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
button {
    padding: 5px 10px
}
.toolbar {
    display: flex;
    justify-content:space-between;
    margin-top: 25px;
}
.curr{
    background: green;
    color: #fff
}